.form{
    width: 30rem;
    max-width: 80%;
    margin: auto;
    align-content: center;
}

.form-control label,
.form-control input,
.form-control textarea{
    width: 100%;
    margin: 1rem 0;
    display: block;
    font-size:20px; 
    color: rgb(243, 134, 152);
}
.form-control input,
.form-control textarea{
    border: 1px solid wheat;
   
}
button{
    width: 100%;
    font: inherit;
    font-size: 25px;
    border-color:rgb(190, 6, 37);
    border-radius: 5px;
    color: rgb(190, 6, 37);
    background-color: white;
}
button:hover{
    color: white;
    background-color:rgb(190, 6, 37);
}
body{
    height: 400vh;
    background-color: rgb(100, 3, 92); /* For browsers that do not support gradients */
    background-image: linear-gradient(54deg,rgb(107, 3, 107),rgb(190, 6, 37)); 
  }